<mat-sidenav-container class="sidenav-container">
  <!-- SIDENAV -->

  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="false"
  >
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/" (click)="drawer.close()">Home</a>
      <a mat-list-item routerLink="/kanban" (click)="drawer.close()">Courses</a>
      <a
        mat-list-item
        routerLink="/login"
        *ngIf="!(authService.user | async)?.email"
        (click)="drawer.close()"
        >Login</a
      >
      <a
        mat-list-item
        routerLink="/signup"
        *ngIf="!(authService.user | async)?.email"
        (click)="drawer.close()"
        >Signup</a
      >
      <a
        mat-list-item
        routerLink="/signup/teacher"
        *ngIf="
          !(authService.user | async)?.email &&
          !(authService.user | async)?.role
        "
        >Become a teacher</a
      >
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <!-- TOP TOOLBAR-->

    <mat-toolbar>
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async"
      >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span class="logo" routerLink="/" routerLinkActive="active"
        >🔥 Brainiac</span
      >

      <span class="fill-space"></span>

      <div class="input-group rounded">
        <input
          type="search"
          class="form-control rounded"
          placeholder="Search"
          aria-label="Search"
          aria-describedby="search-addon"
        />
        <span class="input-group-text border-0" id="search-addon">
          <i class="fas fa-search"></i>
        </span>
      </div>
      <span class="fill-space"></span>
      <div *ngIf="!(isHandset$ | async)">
        <a mat-button routerLink="/kanban">🍱 Courses</a>
        <a
          mat-button
          routerLink="/signup/teacher"
          *ngIf="
            !(authService.user | async)?.email &&
            !(authService.user | async)?.role
          "
          >Become a teacher</a
        >
        <a
          mat-list-item
          routerLink="/add-course"
          *ngIf="(authService.user | async)?.role === 'teacher'"
          >Add Course</a
        >
        <a
          mat-button
          routerLink="/login"
          *ngIf="!(authService.user | async)?.email"
          (click)="drawer.close()"
          >Login</a
        >
        <a
          mat-button
          routerLink="/signup/student"
          *ngIf="!(authService.user | async)?.email"
          (click)="drawer.close()"
          >Signup</a
        >
      </div>

      <!-- DROPDOWN MENU -->

      <button
        mat-icon-button
        [matMenuTriggerFor]="menu"
        aria-label="Example icon-button with a menu"
      >
        <mat-icon>more_vert</mat-icon>
      </button>

      <mat-menu #menu="matMenu">
        <a mat-button (click)="logout()">Logout</a>
      </mat-menu>
    </mat-toolbar>

    <!-- TRANSCLUSION -->
  </mat-sidenav-content>
</mat-sidenav-container>
