<div *ngIf="course$ | async as course; else loading" class="course-card">
  <div class="course-header">
    <img
      [src]="course.imageUrl"
      alt="{{ course.title }}"
      class="course-image"
    />

    <div class="course-details">
      <h2>{{ shortenTitle(course?.title) }}</h2>
      <h3>{{ shortenSubtitle(course?.subtitle) }}</h3>
      <p>{{ shortenDescription(course.description) }}</p>
    </div>

    <div class="course-main-content">
      <div class="top-content">
        <div class="info-button">
          <button mat-raised-button class="info-button non-clickable">
            Language: {{ course.language }}
          </button>
        </div>
        <div class="info-button">
          <button mat-raised-button class="info-button non-clickable">
            Created At: {{ formatDate(course?.createdAt) }}
          </button>
        </div>
        <div class="info-button">
          <button mat-raised-button class="info-button non-clickable">
            Updated At: {{ formatDate(course?.updatedAt) }}
          </button>
        </div>
        <div class="info-button">
          <button
            mat-raised-button
            class="info-button non-clickable"
            *ngIf="course.isLive"
            [ngStyle]="{color: 'red', }"
          >
            Live Course
          </button>
        </div>
        <div *ngIf="user$ | async as user">
          <button *ngIf="user.uid === course.instructorId" mat-raised-button color="warn" [routerLink]="['/course/edit', course.id]">
            Edit Course
          </button>
        </div>
        
      </div>

      <div class="buttons">
        <div class="info-button">
          <button
            mat-raised-button
            class="info-button non-clickable"
            color="success"
          >
            {{ course.isFree ? "Free" : "$" + course.price }}
          </button>
        </div>
        <button mat-raised-button color="primary" type="submit">Buy</button>
        <button mat-raised-button color="accent" type="button">
          Add to favorites
        </button>
        <button mat-raised-button type="button">Add to cart</button>
      </div>
    </div>
  </div>

  <div class="course-content">
    <button mat-raised-button class="info-button non-clickable">
      Instructor: {{ course.instructorName }}
    </button>
    <button mat-raised-button class="info-button non-clickable">
      Rating: {{ course.userRating }}
    </button>
    <button mat-raised-button class="info-button non-clickable">
      Subcategory: {{ course.subcategory}}
    </button>
    <button mat-raised-button class="info-button non-clickable">
      Difficulty: {{ course.difficulty }}
    </button>
    <button mat-raised-button class="info-button non-clickable">
      Hours: {{ course.hours }}
    </button>
    <!-- <button mat-raised-button class="info-button non-clickable">
      Tags: {{ course.tags.join(", ") }}
    </button> -->
  </div>
  <h4>Lessons:</h4>
  
</div>

<ng-template #loading>
  Loading course data...
</ng-template>