.global{
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.slider-container {
  overflow-x: hidden;
  white-space: nowrap;
  padding: 16px;
}

.slider {
  position: relative;
  display: inline-block;
  width: 100%;
}

.slides {
  display: flex;
  transition: transform 0.5s ease;
  width: 100%;
}

.slide {
  flex: 0 0 25%;
  margin-right: 20px;
  border-radius: 15px;
}

.slide .course {
  display: flex;
  align-items: center;
  height: 100%;
}

.slide .course img {
  width: 50%;
  height: 100%;
  border-radius: 15px;
}

.slide .course-details {
  padding-left: 10px;
  padding-right: 10px;
  font-size: 12px;
}

.slide .course-details h3 {
  font-size: 16px;
  font-weight: bold;
}

.prev,
.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;
  border: none;
  font-size: 24px;
  cursor: pointer;
  z-index: 2;
}

.prev {
  left: 0;
}

.next {
  right: 0;
}

.desciprtion {
  background-color: #f0f0f0;
  color: #414141;
  text-align: center;
  padding-bottom: 8%;
  padding-top: 8%;
  border-radius: 15px;
  word-spacing: 25px;
  margin-bottom: 5%;
}

.desciprtion h3 {
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
}

.long-subtitle {
  white-space: pre-wrap;
}

.course-list {
  margin-top: 2%;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}
