<div class="container">
  <h1>Become a teacher</h1>
  <mat-card>
    <app-alert
      *ngIf="successMessage"
      [success]="true"
      [message]="successMessage"
      (close)="successMessage = ''"
    ></app-alert>
    <app-alert
      *ngIf="errorMessage"
      [success]="false"
      [message]="errorMessage"
      (close)="errorMessage = ''"
    ></app-alert>

    <form #signupForm="ngForm" (ngSubmit)="onSubmit(signupForm)">
      <mat-form-field class="form-group">
        <input
          matInput
          type="email"
          id="email"
          placeholder="E-Mail"
          ngModel
          name="email"
          required
          email
        />
      </mat-form-field>

      <mat-form-field class="form-group">
        <input
          matInput
          type="text"
          id="namesurname"
          placeholder="Name & Surname (e.ig Jan Kowalski)"
          ngModel
          name="namesurname"
          required
          namesurname
        />
      </mat-form-field>

      <mat-form-field class="form-group">
        <input
          matInput
          type="password"
          id="password"
          placeholder="Password"
          ngModel
          name="password"
          required
          minlength="6"
        />
      </mat-form-field>

      <div>
        <button
          mat-raised-button
          color="primary"
          type="submit"
          [disabled]="!signupForm.valid || isLoading"
        >
          Sign Up
        </button>
      </div>
    </form>
  </mat-card>
</div>
