<div class="container">
  <h1>Become a teacher</h1>
  <mat-card>
    <app-alert
      *ngIf="successMessage"
      [success]="true"
      [message]="successMessage"
      (close)="successMessage = ''"
    ></app-alert>
    <app-alert
      *ngIf="errorMessage"
      [success]="false"
      [message]="errorMessage"
      (close)="errorMessage = ''"
    ></app-alert>

    <form #signupForm="ngForm" (ngSubmit)="onSubmit(signupForm)">
      <mat-form-field class="form-group">
        <input
          matInput
          type="email"
          id="email"
          placeholder="E-Mail"
          ngModel
          name="email"
          required
          email
        />
      </mat-form-field>

      <!-- Pole "Name & Surname" -->
      <mat-form-field class="form-group">
        <input
          matInput
          type="text"
          id="namesurname"
          placeholder="Name & Surname (e.g. Jan Kowalski)"
          ngModel
          name="namesurname"
          required
        />
      </mat-form-field>

      <!-- Dodatkowe pola dla nauczyciela -->
      <mat-form-field class="form-group">
        <input
          matInput
          type="text"
          id="phoneNumber"
          placeholder="Phone Number"
          ngModel
          name="phoneNumber"
        />
      </mat-form-field>

      <!-- Pole adresu -->
      <mat-form-field class="form-group">
        <input
          matInput
          type="text"
          id="street"
          placeholder="Street"
          ngModel
          name="street"
          required
        />
      </mat-form-field>
      <mat-form-field class="form-group">
        <input
          matInput
          type="text"
          id="city"
          placeholder="City"
          ngModel
          name="city"
          required
        />
      </mat-form-field>
      <mat-form-field class="form-group">
        <input
          matInput
          type="text"
          id="postalCode"
          placeholder="Postal Code"
          ngModel
          name="postalCode"
          required
        />
      </mat-form-field>

      <!-- Pole daty urodzenia -->
      <mat-form-field class="form-group">
        <input
          matInput
          type="text"
          id="dateOfBirth"
          placeholder="Date of Birth"
          ngModel
          name="dateOfBirth"
        />
      </mat-form-field>

      <!-- Pole hasła -->
      <mat-form-field class="form-group">
        <input
          matInput
          type="password"
          id="password"
          placeholder="Password"
          ngModel
          name="password"
          required
          minlength="6"
        />
      </mat-form-field>

      <!-- Warunkowe wyświetlanie przycisku "Become a Teacher" -->
      <div>
        <button
          mat-raised-button
          color="primary"
          type="submit"
          [disabled]="!signupForm.valid || isLoading"
        >
          Become a Teacher
        </button>
      </div>
    </form>
  </mat-card>
</div>
