.course-tile {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 15px;
  margin-bottom: 10px;
  text-decoration: none;
  transition: box-shadow 0.3s ease;
  background-color: #f5f5f5;
  height: 150px;

  &:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  .course {
    display: flex;
    align-items: center;
    height: 100%;
    max-width: 350px;
    
    .course-image-container {
      width: 50%; 
      height: 100%;
      display: flex;
      align-items: center; 
      justify-content: center; 
      overflow: hidden; 
    }

    .course-image {
      width: 100%;
      height: 100%;
      object-fit: cover; 
      border-radius: 15px 0 0 15px; 
    }

    .course-details {
      flex: 1;
      font-size: 16px;
      padding: 10px; /* Dodaj trochę paddingu wokół tekstu */
      max-width: 50%; /* Maksymalna szerokość 50% */
      overflow: hidden;
      

      h3 {
        font-size: 18px;
        font-weight: bold;
        text-transform: uppercase;
        margin: 0;
        margin-bottom: 5px;
        color: black;
      }

      p {
        margin: 0;
        color: #0e1111;
      }
    }
  }
}


.course-details p.long-subtitle {
  white-space: pre-wrap;
  overflow-wrap: break-word;
  text-overflow: ellipsis;
  max-height: 3.6em; /* Maksymalna wysokość równa 3.6 linii */
  line-height: 1.2em; /* Wysokość linii */
  display: -webkit-box;
  -webkit-line-clamp: 3; /* Ograniczenie do 3 linii */
  -webkit-box-orient: vertical;
}

.course-details h3 {
  white-space: nowrap; /* Nie pozwól, aby tytuł zawijał się w poziomie */
  overflow: hidden; /* Ukryj nadmiarowy tekst */
  text-overflow: ellipsis; /* Wyświetlaj elipsy, gdy tekst jest zbyt długi */
}