.course-edit mat-card {
  margin-top: 1%;
  margin-right: 15%;
  margin-left: 15%;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.full-width {
  width: 100%; /* Domyślnie szerokość 100%, dla mniejszych ekranów */
}

.form-row {
  display: flex;
  flex-wrap: wrap;
  gap: 16px; /* Ustawia odstępy między elementami */
}

.mat-form-field,
.mat-checkbox {
  flex: 1 1 48%; /* Dzieli kontener na dwie równe części */
  max-width: 48%; /* Zapewnia, że każde pole nie przekracza 48% szerokości */
}

.upload-section, .image-section {
  margin-bottom: 20px;
  width: 100%; /* Upewnia się, że zdjęcie zajmuje pełną szerokość */
}

.responsive-img {
  max-height: 200px;
  max-height: 200px;
}

.tags-div {
  display: flex;
  align-items: center; 
 
}
.button-container {
  padding-left: 10px;
  align-items: center; 
}

.tag-add-button{
  width: 36px; /* Width of the button to make it square */
  height: 36px; /* Height of the button to match the width */
  border-radius: 50%; /* Makes the button circular */
  min-width: 0; /* Overrides Material default to allow smaller button */
}
.mat-form-field {
  flex-grow: 1; /* Allows the input field to take up remaining space */
  display: flex;
  align-items: center; 
}

.course-detail-container {
  .chapter-container {
      margin-top: 20px;
      border: 1px solid #ccc;
      padding: 15px;
      border-radius: 8px;
      .full-width {
          width: 100%;
      }
      .thumbnail {
          width: 100px;
          height: 100px;
          object-fit: cover;
      }
  }
  padding-bottom: 10px;
}