<div *ngIf="course" class="course-edit">
  <mat-card>
    <h1>Add Course</h1>
    <div class="form-row">
      <mat-form-field appearance="fill" class="fill">
        <mat-label>Title</mat-label>
        <input matInput [(ngModel)]="course.title" name="title" />
      </mat-form-field>

      <mat-form-field appearance="fill" class="fill">
        <mat-label>Subtitle</mat-label>
        <input matInput [(ngModel)]="course.subtitle" name="subtitle" />
      </mat-form-field>

      <mat-form-field class="filter-select">
        <mat-label>Select Language</mat-label>
        <mat-select
          [(value)]="selectedLanguage"
          (selectionChange)="onLanguageChange($event.value)"
        >
          <mat-option *ngFor="let language of languages" [value]="language">{{
            language
          }}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="filter-select">
        <mat-label>Select Difficulty</mat-label>
        <mat-select
          [(value)]="selectedDifficulty"
          (selectionChange)="onDifficultyChange($event.value)"
        >
          <mat-option
            *ngFor="let difficulty of difficulties"
            [value]="difficulty"
            >{{ difficulty }}</mat-option
          >
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="fill" class="fill">
        <mat-label>Price</mat-label>
        <input
          matInput
          type="number"
          [(ngModel)]="course.price"
          name="price"
          [disabled]="course.isFree"
        />
        <!-- Dodajemy warunek zależny od stanu isFree -->
      </mat-form-field>

      <mat-checkbox [(ngModel)]="course.isFree" name="isFree"
        >Is Free</mat-checkbox
      >

      <mat-form-field appearance="fill" class="filter-select">
        <mat-label>Select Category</mat-label>
        <mat-select
          [(value)]="selectedCategory"
          (selectionChange)="onCategoryChange($event.value)"
        >
          <mat-option
            *ngFor="let category of categories"
            [value]="category.name"
          >
            {{ category.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field
        appearance="fill"
        class="filter-select"
        *ngIf="subcategories.length > 0"
      >
        <mat-label>Select Subcategory</mat-label>
        <mat-select [(ngModel)]="course.subcategory">
          <mat-option
            *ngFor="let subcategory of subcategories"
            [value]="subcategory"
          >
            {{ subcategory }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="fill" class="filter-select">
        <mat-label>Hours</mat-label>
        <input matInput type="number" [(ngModel)]="course.hours" name="hours" />
      </mat-form-field>

      <div
        class="tags-div"
        *ngFor="let tag of course.tags; let i = index; trackBy: trackByFn"
      >
        <mat-form-field appearance="fill" class="filter-select">
          <mat-label>Tag {{ i + 1 }}</mat-label>
          <input matInput [(ngModel)]="course.tags[i]" [name]="'tag-' + i" />
        </mat-form-field>
        <div class="button-container" *ngIf="i === course.tags.length - 1">
          <button
            mat-raised-button
            color="primary"
            (click)="addAnotherTag(); $event.stopPropagation()"
          >
            +
          </button>
        </div>
      </div>

      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Description</mat-label>
        <textarea
          matInput
          [(ngModel)]="course.description"
          name="description"
        ></textarea>
      </mat-form-field>

      <div class="form-group">
        <button
          mat-raised-button
          *ngIf="!imageUrl"
          (click)="fileInput.click()"
          color="primary"
        >
          Choose file photo
        </button>

        <input
          #fileInput
          type="file"
          (change)="onFileSelected($event)"
          hidden
        />

        <div *ngIf="imageUrl" (click)="fileInput.click()">
          <img [src]="imageUrl" alt="Selected Photo" class="responsive-img" />
        </div>
      </div>
    </div>

    <mat-checkbox [(ngModel)]="course.isLive" name="isLive"
      >Is Live</mat-checkbox
    >

    <div class="course-detail-container">
      <h3>Chapters</h3>
      <button mat-raised-button color="primary" (click)="addChapter()">Add Chapter</button>
      <div *ngFor="let chapter of course?.chapters; let i = index" class="chapter-container">
        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Chapter Title</mat-label>
          <input matInput [(ngModel)]="chapter.title" [name]="'chapterTitle-' + i">
        </mat-form-field>
        <img [src]="chapter.imageUrl || 'default-image.jpg'" alt="Chapter Thumbnail" class="thumbnail">
        <button mat-button (click)="editImage(chapter)">Change Thumbnail</button>
        <button mat-button (click)="chapter.showLessonForm = true">Add Lesson</button>
        <button mat-button (click)="addExam(chapter)">Add Exam</button>

        <div *ngIf="chapter.showLessonForm">
          <mat-form-field appearance="fill" class="full-width">
            <mat-label>Lesson Title</mat-label>
            <input matInput [(ngModel)]="newLesson.title" [name]="'lessonTitle-' + i">
          </mat-form-field>
          <input type="file" (change)="onLessonFileSelected($event)" />
          <button mat-raised-button color="primary" (click)="confirmAddLesson(chapter)">Confirm</button>
        </div>

        <div *ngFor="let lesson of chapter.lessons">
          <p>{{ lesson.title }}</p>
        </div>
        <div *ngFor="let exam of chapter.exams">
          <p>{{ exam.title }}</p>
        </div>
      </div>
    </div>

    <button
      mat-raised-button
      color="primary"
      (click)="saveChanges()"
      class="full-width"
    >
      Save Changes
    </button>
  </mat-card>
</div>
